* {
    box-sizing: border-box;
}

body {
    background: #fccfaa;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background: #ffffff;
    padding: 35px;
    border-bottom: #cccccc 5px solid;
}

h1 {
    font-weight: bold;
    padding: 30px;
    border-bottom: #cccccc 5px solid;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    
}

#fixed {
    background: #4aaaa5;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    padding: 35px;
    text-align: center;
    top: 0px;
    left: 115px;
    color: #ffffff;
}

.wrapper {
    background: #ffffff;
    width: 960px;
    /* height: 560px; */
    margin: 0 auto 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: #dddddd 2px solid;
}


.Buttons {
    background: #ffffff;
    /* padding: 23px; */
    text-align: right;
    top: 0;
}

#port-pic {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

footer {
    clear: both;
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    bottom: 0px;
    border-top: #4aaaa5 solid 5px;
}